body {
  background-color: burlywood;
}
/* button {
  font-weight: bold;
  font-size: medium;
  color: darkslategray;
  padding-right: 4px;
  padding-left: 0px;
  width: 30%;
}

h5,
h6 {
  color: black;
  border: solid blue 4px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
} */
/* .test-error {
  width: 40%;
  margin: 0 auto;
} */
